<h1>Listagem de usuários</h1>
          <table>

  <%= for user <- @users do %>
  <tr>
    <!-- <td><%= first_name(user) %></td> -->
    <td><%= user.name %></td>
            <td><%= link "Exibir", to: Routes.user_path(@conn, :show, user.id) %></td>
  </tr>
  <%  end %>
</table>

<div style="display: flex; justify-content: flex-end">
  <%= link "Adicionar", to: Routes.user_path(@conn, :new), class: "button" %>
</div>
